---
layout: default
---
<article class="post type-post status-publish format-standard hentry category-episodes">
    <div class="entry-meta side">
        <span class="posted-on">
            <a href="{{ page.url }}" rel="bookmark"><time class="entry-date" datetime="{{ page.date }}" pubdate>{{ page.date | date_to_long_string: "ordinal" }}</time></a>
        </span>
    </div><!-- .entry-meta -->

    <header class="entry-header wide">
        <h2 class="entry-title"><a href="{{ page.url }}" title="{{ page.title }}" rel="bookmark">{{ page.title }}</a></h2>
    </header><!-- .entry-header -->
    <div class="entry-content wide">
        {{ page.content }}
    </div>
</article>
